.nasa-image-section {
  padding: 20px;

  h3 {
    margin: 0 auto;
    text-align: center;
  }

  .image-selector-group {
    input {
      width: 12vw;
      font-size: large;
      font-family: inherit;
    }

    img {
      width: 35vw;
      margin: 10px 0;
      height: 65vh;
    }
  }
  .image-selector-group,
  .image-information-group {
    padding: 30px;
    max-width: 35vw;
  }

  .information-group {
    label {
      font-weight: bold;
    }
  }

  .image-quality-link {
    text-decoration: underline;
  }

  .image-quality-link:hover {
    cursor: pointer;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .nasa-image-section {
    .image-selector-group {
      input {
        width: 50vw;
      }

      img {
        width: 85vw;
        margin: 10px 0;
        height: 65vh;
      }
    }

    .image-selector-group,
    .image-information-group {
      padding: 5px;
      max-width: 100vw;
    }
  }
}
