<section class="nasa-image-section">
  <h3>Astronomy Picture of the Day for {{ imageDate }}</h3>

  <div class="container">
    <div class="image-selector-group flex-item">
      <div>
        <input
          type="date"
          name="todaysDate"
          id="image-date"
          min="{{minimumDate}}"
          max="{{maximumDate}}"
          [value]="todaysDate"
          (change)="getImage($event)"
          aria-label="Date Selection"
        />
      </div>
      <div>
        <img
          [src]="showHDImage ? nasaImageData?.hdurl : nasaImageData?.url"
          alt="nasa Image"
        />
      </div>
    </div>
    <div class="image-information-group flex-item">
      <div class="information-group">
        <label>Title:</label>
        <p>{{ nasaImageData?.title }}</p>
      </div>
      <div class="information-group">
        <label>Description:</label>
        <p>{{ nasaImageData?.explanation }}</p>
      </div>
      <div>
        <a (click)="toggleImageQuality()" class="image-quality-link"
          >View HD Image</a
        >
      </div>
    </div>
  </div>
</section>
