/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  margin: 5px;
  flex: 1;
}

body {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #A3A3FF;
}

.error-message {
  font-size: small;
  color: #ff8a8a;
  margin: 5px 0;
}
