/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  margin: 5px;
  flex: 1;
}

body {
  background-color: #202020;
  color: rgba(255, 255, 255, 0.5);
}

a{
  color: #FF8A8A;
}